<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Bitcoin Point-of-Sale</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Bitcoin POS <small>Simple point-of-sale to accept bitcoins</small></h1>
      <h6 id="btcusd"></h6>
    </header>
    <hr>
    
    <div class="row">
      <div class="col-md-5">

        <div class="row">
          <div class="col-xs-6">
            <form>
              <div class="input-group">
                <span class="input-group-addon">$USD</span>
                <input id="fiat" type="text" class="form-control text-right" placeholder="0.00">
              </div>
            </form>
          </div>
          <div class="col-xs-6">
            <form>
              <div class="input-group">
                <input id="btc" type="text" class="form-control text-right" placeholder="" disabled>
                <span class="input-group-addon">BTC</span>
              </div>
            </form>
          </div>
        </div>
        
        <div class="row">
          <div id="numpad" class="col-md-12">
            <table>
              <tr>
                <td><button class="digit btn btn-default btn-block">1</button></td>
                <td><button class="digit btn btn-default btn-block">2</button></td>
                <td><button class="digit btn btn-default btn-block">3</button></td>
              </tr>
            </table>
            <table>
              <tr>
                <td><button class="digit btn btn-default btn-block">4</button></td>
                <td><button class="digit btn btn-default btn-block">5</button></td>
                <td><button class="digit btn btn-default btn-block">6</button></td>
              </tr>
            </table>
            <table>
              <tr>
                <td><button class="digit btn btn-default btn-block">7</button></td>
                <td><button class="digit btn btn-default btn-block">8</button></td>
                <td><button class="digit btn btn-default btn-block">9</button></td>
              </tr>
            </table>
            <table>
              <tr>
                <td><button id="clear" class="btn btn-danger btn-block">clear</button></td>
                <td><button class="digit btn btn-default btn-block">0</button></td>
                <td><button id="backspace" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-step-backward"></span>&nbsp;</button></td>
              </tr>
            </table>
          </div>
        </div>
        
        <br>
      </div>
      
      <div class="col-md-7">
        
        <form>
          <div class="form-group">
            <label>Shop's bitcoin address</label>
            <input id="bitcoin-address" type="text" class="form-control" placeholder="Enter your bitcoin address here">
          </div>
        </form>
        
        <div>
          <h2>Payment code</h2>
          <p>
            <em id="pay-summary">
            </em>
          </p>
          <div id="qrcode-instructions" class="alert alert-info">
            To show the QR code, please fill out the:
            <ul>
              <li>$ amount</li>
              <li>Your bitcoin address</li>
            </ul>
          </div>
          
          <div id="qr">
          </div>
        </div>

        <!-- <div class="row">   
          <div id="btc" class="col-md-2">
            <button class="btn btn-primary">Save &amp; Watch</button>
          </div>
        </div> -->

      </div>
    </div>

    <hr>
    <footer>
      Bitcoin POS written by Mat Holroyd <a href="http://twitter.com/matholroyd">@matholroyd</a>
    </footer>
  </div>
  
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/qrcode.js"></script>
  <script src="js/big.js"></script>
  <script src="js/main.js"></script>
</body>
</html>